.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.addStopwatchBtn { background-color: #17a897; }
.startBtn        { background-color: #3B82F6; }
.pauseBtn        { background-color: #8B5CF6; }
.clearBtn        { background-color: #F59E0B; }
.resumeBtn       { background-color: #22C55E; }
.deleteBtn       { background-color: #EF4444; }

.startBtn, .pauseBtn, .clearBtn, .resumeBtn {
  height: 3rem;
  width: 10rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.stopwatch-time {
  font-size: 9rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
