.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5rem;
}

.addStopwatchBtn {
  background-color: #17a897;
  display: inline-flex;
  gap: 5px;
}
.startBtn        { background-color: #3B82F6; }
.pauseBtn        { background-color: #8B5CF6; }
.clearBtn        { background-color: #F59E0B; }
.deleteBtn       { background-color: #EF4444; }

.btn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}
