.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.primary    { background-color: #3B82F6; }
.secondary  { background-color: #17a897; }
.tertiary   { background-color: #8B5CF6; }
.success    { background-color: #22C55E; }
.warning    { background-color: #F59E0B; }
.danger     { background-color: #EF4444; }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.stopwatch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a6a6a63c;
  border: 1px solid #ccc;
  box-shadow: 2px 4px 8px rgb(75, 75, 75);
  padding: 1.5rem 2rem;
  margin: 1.5rem 0;
  border-radius: 12px;
  gap: 3rem;
}

.stopwatch-time {
  font-size: clamp(1.5rem, 4vw, 4.5rem);
  font-weight: bold;
  line-height: 1;
  text-align: left;
}

.stopwatch-controls {
  display: flex;
  gap: 1.5rem;
}

.empty-message {
  text-align: center;
  font-size: clamp(1.2rem, 3.2vw, 4.2rem);
  margin-top: 8.5rem;
}

.confirmation-dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirmation-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(166, 166, 166, 0.5);
  border: 1px outset #ccc;
  padding: clamp(1rem, 2vw, 3rem);
  margin: clamp(1rem, 2vw, 3rem);
  z-index: 10000;
}

.confirmation-dialog__title {
  font-size: clamp(1.5rem, 2.5vw, 4.5rem);
  font-weight: 900;
  color: white;
}

.confirmation-dialog__buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
